@import url("https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400..700;1,400..700&display=swap");
body {
  background-color: #96351e;
  color: #fff;
  padding: 0 25px 6vh;
  font-family: "Brygada 1918", serif;
  overflow: hidden;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item1 {
  padding: 6vh 0;
}
.item2,
.item3
{
  display: block;
  margin: auto;
}
.item3 {
  margin-top: 33px;
}
.item4 {
  margin-top: 10vh;
}
.congcu {
  margin-top: 33px;
}
.actor {
  font-size: 14px;
}
.item4 h3 {
  margin: 7px 0;
}
/* thanh kéo */
.song-slider {
  width: 100%;
  position: relative;
}
.seek-bar {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 10px;
  background: #fffaeb;
  cursor: pointer;
}
#play{
    font-size: 23px;
}

.hidden{
    display: none;
}

.seek-bar::-webkit-slider-thumb {
  -webkit-appearance: none; /* Xóa bỏ style mặc định của nút */
  appearance: none; /* Xóa bỏ style mặc định của nút */
  width: 16px; /* Đặt chiều rộng cho nút */
  height: 16px; /* Đặt chiều cao cho nút */
  background: #ffffff; /* Màu nền của nút */
  cursor: pointer; /* Đặt con trỏ chuột khi hover */
  border-radius: 50%; /* Bo tròn nút */
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); /* Đổ bóng cho nút */
}
.seek-bar::-moz-range-thumb {
  width: 16px; /* Đặt chiều rộng cho nút */
  height: 16px; /* Đặt chiều cao cho nút */
  background: #ffffff; /* Màu nền của nút */
  cursor: pointer; /* Đặt con trỏ chuột khi hover */
  border-radius: 50%; /* Bo tròn nút */
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); /* Đổ bóng cho nút */
}
.seek-bar::-ms-thumb {
  width: 16px; /* Đặt chiều rộng cho nút */
  height: 16px; /* Đặt chiều cao cho nút */
  background: #ffffff; /* Màu nền của nút */
  cursor: pointer; /* Đặt con trỏ chuột khi hover */
  border-radius: 50%; /* Bo tròn nút */
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); /* Đổ bóng cho nút */
}

#links a{
  display: block;
  color: #fff;
  font-size: 14px;
  margin: 10px;
}
